<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <div class="signup-form">

        <div class="text-center">
          <h2>Editar <%= resource_name.to_s.humanize %></h2>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Esperando confirmação para: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
          label: "Senha",
          hint: "Deixe em branco caso não queira alterar",
          required: false,
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
          label: "Confirme sua senha",
          required: false,
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
          label: "Senha atual",
          hint: "Precisamos de sua senha para confirmar as alteraçōes",
          required: true,
          input_html: { autocomplete: "current-password" } %>
        </div>

        <!-- added button for user to add a photo -->
        <div class="add-photo">
          <%= f.input :photo, label: "Foto" %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Update" %>
        </div>
        <% end %>


        <div class="text-center">
          <h3>Cancelar minha conta</h3>
          <p>Não gostou? :( -  <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>

          <%= link_to "Voltar", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
