<div class="container">
  <%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :datetime %>
    <%= f.input :description %>
    <%#= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  </div>
  <% end %>
</div>
