<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= simple_form_for([project, event]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :datetime, label:"Data" %>
        <%= f.input :description, label:"Descrição" %>
        <%#= f.input :photo_cache, as: :hidden %>
        <div class="text-center">
        <%= f.button :submit, value:"Enviar", class: "btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
