<div class="container text-center">
  <% @events.each do |event| %>
    <p>Meu projeto: <%= event.project.name %></p>
    <p>Data: <%= event.datetime %></p>
    <p>Quem me contratou: <%= event.user.first_name %> <%= event.user.last_name %>

    <% if event.accepted == true %>
      <p><i class="fas fa-check"></i>  Você aceitou essa proposta</p>
      <%= link_to "Cancelar", unaccepted_path(event), class: "btn btn-danger", method: :patch %>
    <% else %>
      <p><i class="fas fa-times-circle"></i>  Você ainda não aceitou essa proposta</p>
      <%= link_to "Aceitar proposta", accepted_path(event), class: "btn btn-success", method: :patch %>
    <% end %>
  <% end %>
</div>
