<div class="container">
  <%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#=  missing genre and category! %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :photo %>
    <%= f.input :video %>
    <%#= f.input :photo_cache, as: :hidden %>
    <%= f.association :category %>
    <%= f.association :genres, as: :check_boxes %>
    <%= f.button :submit %>
  </div>
  <% end %>
</div>
