<div class="container">
  <%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%#=  missing genre and category! %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :video %>
    <%= f.input :price %>
    <%#= f.input :photo_cache, as: :hidden %>
    <!-- association pulls categories as dropdown and genres as checkbox to form -->
    <%= f.association :category %>
    <%= f.association :genres, as: :check_boxes %>
  </div>

    <!-- added button for user to add a photo -->
  <div class="add-photo">
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Criar" %>
  </div>


  <% end %>
</div>
