<div class="home-banner">
<div class="wrapper">


      <div class="container text-center">
        <% if user_signed_in? %>
          <% if current_user.artist == true || current_user.admin == true %>
          <%= link_to "Crie seu projeto", new_project_path, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>


      <div class="polaroid-images">
        <% @projects.each do |project| %>
        <%= link_to project_path(project) do %>
        <%= cl_image_tag project.photo, height: 200, width: 250, crop: :fill %>
        <%= project.name %>
        <p><i class="fas fa-microphone-alt"></i>
          <%= project.category.name %>
          <i class="fas fa-map-marker-alt"></i>
          <%= project.city %>, <%= project.state %>
        </p>
        <p>
          <i class="fas fa-music"></i>
          <% project.genres.each do |t| %>
          <%= t.name %>
          <% end %>
        </p>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
