<div class="container text-center">

  <% if user_signed_in? %>
  <% if current_user.artist == true %>
  <%= link_to "Crie seu projeto", new_project_path, class: "btn btn-primary" %>
  <% end %>
  <% end %>


  <% @projects.each do |project| %>
  <%= link_to project_path(project) do %>
  <h1><%= project.name %></h1>
  <p><%= project.description %></p>
  <p><%= project.city %></p>
  <% end %>
  <% end %>
</div>
