
<div class="wrapper">
      <div class="polaroid-images">
        <% @result.each do |project| %>
        <%= link_to project_path(project) do %>
        <img height="200" src="assets/freddie.jpg" alt="test" title="test" />
        <%= project.name %>
        <p><i class="fas fa-microphone-alt"></i>
          <%= project.category.name %>
          <i class="fas fa-map-marker-alt"></i>
          <%= project.city %>, <%= project.state %>
        </p>
        <p>
          <i class="fas fa-music"></i>
          <% project.genres.each do |t| %>
          <%= t.name %>
          <% end %>
        </p>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
