<div class="container text-center">
  <h1><%= @project[:name] %></h1>
  <p>Descrição: <%= @project[:description] %></p>
  <p>Cidade: <%= @project[:city] %></p>
  <%= @project[:photo] %>
  <%= @project[:video] %>

  <% @project.reviews.each do |review| %>
  <p><%= review.content %></p>
  <% end %>

  <% if current_user == @project.artist %>
    <%= link_to "Editar", edit_project_path(@project), class: "btn btn-primary" %>
    <%= link_to "Deletar", project_path(@project), method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Criar novo review", new_project_review_path(@project), class: "btn btn-primary" %>
    <%= link_to "Contratar", new_project_event_path(@project), class: "btn btn-success" %>
  <% end %>
</div>
