<div class="container">
  <% @projects.each do |project| %>
  <%= link_to project_path(project) do %>
    <%= project.artistic_name %>
  <% end %>
    <%= project.description %>
    <%= project.genre %>
    <%= project.band_format %>
    <%= project.city %>
  <% end %>
</div>
